<h1> About Me </h1>
<h2> I am Akshar, I am Atma, I am Brahm, I am Bhakt </h2>
<br>
<!-- moved to layouts - application.html file <%= link_to "Home", root_path %> -->
<!--alternative to <a href="../">Home</a> -->