<h1>Deven's Home Page</h1>
<p>Hello World!!</p>
<br>
<!-- moved to layouts - application.html file <%= link_to "About", about_path %> -->
<!--link_to is Embedded Ruby syntax in place of html <a href> tag-->
