<div class="jumbotron">
	<h1>Deven's Home Page</h1>
	<p>Hello World!!</p>
	<br>
	<h2>Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
</div>

<!-- moved to layouts - application.html file <%= link_to "About", about_path %> -->
<!--link_to is Embedded Ruby syntax in place of html <a href> tag-->
